@import url(./reset.css);
/* Set the desired font from google fonts, or adobe fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

/* GLOBALS */
body{
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    /* 
    100,400,700,900 weights available. Add differrent 
    weights to the classes or elements that are needed 
     */
    font-weight: 400;
    font-style: normal;
    color:white;
}

a {
    text-decoration: none;
    color:white;
}

p{
    margin:10px 50px 10px 0px;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    color: #212121;
    padding-top: 20px;
}

h2{
	font-size: 1.2rem;
	font-weight: 900;
	margin-bottom: 10px;
	color: #2B2B2B;
}

h2 + ul {
    list-style-type: circle;
    margin-bottom:10px;
}

h2 + ul > li {
    margin-left:30px;
}

hr{
    width:100%;
}
.content-overlay {

      position: relative;
      z-index: 1; /* Ensures content is above the video */
      text-align: center;
      padding: 20px;
    
}


.be::before, .em::before, .insta::before, .snap::before {
    display: inline-block;
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    top: 7px;
    background-repeat: no-repeat;
}

.be::before{
    background-image: url(../img/text.png);
    margin-left: 870px;
    margin-top: 34px;
    background-size: 22px auto;
}
.img-contact {
    width: 120px;
    height: 50px;
    position: absolute;
    margin-left: 722px;
    margin-top: 60px;
    color: #2E2E2E;
}
#about-detail {
}

.em::before{
    background-image: url(../img/email.png);
    margin-left: 870px;
    background-size: 23px 18px;
    top: 9px;
}
.insta::before{
    background-image: url(../img/epic-sport-194277.png);
    margin-left: 870px;
    background-size: 22px auto;
}
    html, body {
     
       /* Prevents scrolling */
    }



.snap::before{
    background-image: url(../img/ico/instagram-solid.svg);
}
.img-skills {
    width: 150px;
    height: 190px;
    display: block;
    margin-top: 68px;
    margin-left: 600px;
}
.content-overlay   {
	z-index: 1;
}
.btn {
    color: #FFFEED;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 10px;
    width: 135px;
    height: 38px;
    background-color: #D25626;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    border: medium none #D25626;
    clear: none;
    float: none;
    font-weight: bolder;
    line-height: 38px;
}
.column .btn a {
    color: #FFFEED;
    -webkit-box-shadow: 0px 0px #DAD9D6;
    box-shadow: 0px 0px #DAD9D6;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding: 10px;
	color: #242424;
  }

/* LAYOUT */

.full-page-section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 1080px;
    background-color: #D25626;
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#hero{
    height: 1080px;
    width: 100%;
}

#hero > ul {
    position: absolute;
    bottom:25px;
}

#hero > ul > li {
    display:inline;
    margin:0 5px 0 5px;
}

#about-intro{
	background-color: #FFFEEF;
	height: 550px;
}

#intro-text > p, #intro-text >h2{
    position: relative;
    top:200px;
    width:600px;
}

#category-selection{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%; /* Adjust based on design */
    margin: 0 auto;
}

.category-card {
    width: 100%;
    max-width: 250px;
    margin: 25px;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid white;
}

.project-info{
    position:relative;
    top:300px;
    left:50px;
}


#project-1 {
    background-image: url(../img/placeholder.png);
}




/* tag colors */

.green{
    background-color:rgba(100, 125, 50, 1);
}

.othercolor{
    background-color:rgba(50, 125, 50, 1);
}

.tag {
    display: inline-block;
    /* border:1px solid white; */
    padding:5px 15px 5px 15px;
    border-radius:25px;
}
.headshotln {
    height: 527px;
    width: 400px;
    margin-top: 21px;
}


.separator {
	height: 105px;
	background-color: #D25626;
}
#hero-social-list {
    background-color: #D25626;
    height: 145px;
}
.language {
    color: #565656;
    font-style: italic;
    text-indent: 26px;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.video-background {
	z-index: 
}  
.skills {
    margin-top: 8px;
}
.projecta {
    color: #686868;
    font-weight: normal;
    font-style: normal;
    font-size: small;
    letter-spacing: 0px;
    white-space: normal;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 254px;
    text-align: center;
}

.logo {
	 position: absolute;
  top: 1150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 320px) and (max-width: 480px){
#about-intro .row #intro-text {
    width: 16px;
    margin-top: -32px;
    display: none;
}
.row #intro-text p {
    width: 372px;
    font-size: 14px;
}
main #hero-social-list .be {
    width: 281px;
}
main #hero-social-list .img-contact {
    width: 88px;
    margin-left: -6px;
    height: 33px;
    display: none;
}
.row .column .img-skills {
    width: 0px;
    height: 0px;
}
.video-background main #hero-social-list {
}
main #hero-social-list .em {
    width: 352px;
}
main #hero-social-list .insta {
}
	
	
	.be::before{
    
    margin-left: 70px;

}
	.em::before{
    
    margin-left: 70px;

}
	.insta::before{
    
    margin-left: 70px;

}
	
}

@media (min-width: 481px) and (max-width: 768px){
.be   {
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 314px;
}
.em {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 315px;
    width: 406px;
}
.img-contact {
    text-align: left;
    padding-top: 0px;
    margin-top: 48px;
    margin-left: 232px;
}
.img-skills {
    width: 147px;
    margin-left: 150px;
    margin-top: 155px;
}
.row #intro-text p {
    text-align: left;
    width: 280px;
    display: inherit;
}
#about-intro .row #intro-text {
    width: 0px;
}
main #about-detail .row {
}
.insta {
    padding-top: 0px;
    width: 236px;
    margin-left: 316px;
}
.be::before {
    margin-left: 70px;
}
.em::before {
    margin-left: 70px;
}
.insta::before {
    margin-left: 70px;
}
}

/*
@media (max-width: 1024px){
#about-intro .row #intro-text {
    width: 90px;
}
.row #intro-text p {
    width: 361px;
}
main section #category-selection {
    width: 666px;
}
.img-contact {
    width: 135px;
}
#hero-social-list {
    height: 175px;
}
}
*/

@media (min-width: 770px){
.be::before {
    margin-left: 70px;
}
.em::before {
    margin-left: 70px;
}
.insta::before {
    margin-left: 70px;
}
.img-contact {
    margin-left: 410px;
}
.img-skills {
    width: 110px;
    height: 148px;
}
main #hero-social-list .insta {
    width: 278px;
}
#about-detail .row .column {
}
#about-intro .row #intro-text {
    margin-top: -49px;
}
main #about-detail .row {
}
main #hero-social-list .em {
    width: 369px;
}
main #hero-social-list .be {
    width: 228px;
}
}
